DISCORD_TOKEN=
GUILD_ID=
ADMIN_USER_ID=
SUWAYOMI_URL=http://10.10.20.30:4567
SUWAYOMI_SOURCE_IDS=2131019126180322627
KOMGA_URL=http://10.10.20.30:25600
KOMGA_API_KEY=
KOMGA_LIBRARY_ID=0QYJC3SCQH9JZ
BULK_CONFIRM_THRESHOLD=100
